# LAB 3:  LÀM SẠCH DỮ LIỆU CƠ BẢN

In [122]:
import pandas as pd
import seaborn as sns
import numpy as np

df = pd.read_csv(r"D:\Hoc_Tap\HK252\Phân Tích Dữ Liệu Và Học Sâu\Tuan03\patient_heart_rate.csv", on_bad_lines='skip')
df

       1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0    2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1    3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2    4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3    5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4    6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5    7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6    8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9    9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
10  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87
11  11.0       Henry Nam   NaN       60kgs   78   75   72    -    -    -
12  12.0     Michel Long  34.0         NaN   65   67   55    -    -    -
13  13.0      Tana Ricky   NaN         NaN    -    -    -   68   72   70
14  15.0             NaN  52.0      180lbs    -    -    -   68   75   72

In [123]:
#Problen 1
# Thên header vào datafrane để diễn giải dữ tiệu
column_names= ["Id", "Name", "Age", "Weight", 'm0006', 'm0612', 'm1218', 'f0006','f0612','f1218']
# Đọc fite dữ tiệu
df = pd.read_csv(r"D:\Hoc_Tap\HK252\Phân Tích Dữ Liệu Và Học Sâu\Tuan03\patient_heart_rate.csv", names=column_names,on_bad_lines='skip')
#Hiển thị một vài đòng dữ tiệu đầu tiên ra màn hình
df

      Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
10   9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
11  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87
12  11.0       Henry Nam   NaN       60kgs    78    75    72     -     -     -
13  12.0     Michel Long  34.0         NaN    65    67    55     -     -     -
14  13.0      Tana Ricky   NaN         NaN     -     -     -    68    72    70
15  15.0             NaN  52.0      180lbs     -     -     -    68    75    72

In [124]:
#Problen 2
df[['Firstname' ,'Lastname' ]] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)
print (df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

In [125]:
# Probten 3
#Get the Weight cotunn
weight = df['Weight']

for i in range (0 ,len(weight)):
    x= str(weight[i])
    #Incase tbs is part of observation renove it
    if "lbs" in x[-3:]:
    #Renove the tbs fran the vatue
        x = x[ :- 3:]
        #Convert string to floot
        float_x = float(x)
        #Covert to kgs and store os int
        y =int(float_x/2.2)
        #Convert back to string
        y = str(y)+"kgs"
        weight[i]= y
df

C:\Users\T.Hung\AppData\Local\Temp\ipykernel_23504\878701616.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
C:\Users\T.Hung\AppData\Local\Temp\ipykernel_23504\878701616.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
C:\Users\T.Hung\AppData\Local\Temp\ipykernel_23504\878701616.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
C:\Users\T.Hung\AppData\Local\Temp\ipykernel_23504\878701616.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y
C:\Users\T.Hung\AppData\Local\Temp\ipykernel_23504\878701616.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]= y

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [126]:
df.dropna(how="all", inplace=True)
df

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [127]:
df = df.drop_duplicates(subset=["Firstname", "Lastname", "Age", "Weight"])
df

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [128]:
#Probten 6:
df. Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df

C:\Users\T.Hung\AppData\Local\Temp\ipykernel_23504\1221847772.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df. Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\T.Hung\AppData\Local\Temp\ipykernel_23504\1221847772.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df. Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\T.Hung\AppData\Local\Temp\ipykernel_23504\1221847772.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\T.Hung\AppData\Local\Temp\ipykernel_23504\1221847772.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [129]:
df = df.copy()
df = df.dropna(subset=['Age', 'Weight'], how='all')
mean_age = df['Age'].mean()
df['Age'] = df['Age'].fillna(mean_age)
df

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0  36.1  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0  36.1  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [130]:
df = pd.melt(df, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'], value_name='PulseRate', var_name='sex_and_time')
tmp_df = df['sex_and_time'].str.extract(r'(\D)(\d{2})(\d{2})', expand=True)
tmp_df.columns = ["Sex", "hours_lower", "hours_upper"]
tmp_df["Time"] = tmp_df["hours_lower"] + "-" + tmp_df["hours_upper"]
df = pd.concat([df, tmp_df], axis=1)
df = df.drop(['sex_and_time', 'hours_lower', 'hours_upper'], axis=1)
df = df.dropna(subset=['PulseRate'])
df = df.sort_values(by=['Id', 'Time']).reset_index(drop=True)
df

      Id   Age Weight Firstname Lastname PulseRate Sex   Time
0    1.0  56.0  70kgs     Micky     Mous        72   m  00-06
1    1.0  56.0  70kgs     Micky     Mous         -   f  00-06
2    1.0  56.0  70kgs     Micky     Mous        69   m  06-12
3    1.0  56.0  70kgs     Micky     Mous         -   f  06-12
4    1.0  56.0  70kgs     Micky     Mous        71   m  12-18
..   ...   ...    ...       ...      ...       ...  ..    ...
66  15.0  52.0  81kgs       NaN      NaN        68   f  00-06
67  15.0  52.0  81kgs       NaN      NaN         -   m  06-12
68  15.0  52.0  81kgs       NaN      NaN        75   f  06-12
69  15.0  52.0  81kgs       NaN      NaN         -   m  12-18
70  15.0  52.0  81kgs       NaN      NaN        72   f  12-18

[71 rows x 8 columns]

In [133]:
df['PulseRate'] = df['PulseRate'].replace('-', np.nan)
df['PulseRate'] = pd.to_numeric(df['PulseRate'], errors='coerce')
df = df.sort_values(by=['Firstname', 'Lastname', 'Id', 'Time']).reset_index(drop=True)
# 1. Khảo sát ban đầu
initial_missing = df['PulseRate'].isna().sum()
print(f"Tỉ lệ dữ liệu thiếu ban đầu: {initial_missing}/{len(df)} ({initial_missing/len(df):.2%})\n")

# Lưu trữ số lượng xử lý của từng phương pháp
methods_count = {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0}

# Tạo định danh người (person_id) để nhóm chính xác
df['person_id'] = df['Id'].astype(str) + df['Firstname'].astype(str) + df['Lastname'].astype(str)

# 2. Xử lý dữ liệu thiếu theo từng phương pháp ưu tiên
for idx in df[df['PulseRate'].isna()].index:
    row = df.loc[idx]
    # Lấy danh sách các dòng của cùng một người
    p_indices = df[df['person_id'] == row['person_id']].index.tolist()
    pos = p_indices.index(idx)
    
    filled = False
    
    # Phương pháp 1: Thay thế bằng TB liền trước và liền sau của người đó
    if not filled and pos > 0 and pos < len(p_indices) - 1:
        v_prev, v_next = df.at[p_indices[pos-1], 'PulseRate'], df.at[p_indices[pos+1], 'PulseRate']
        if pd.notna(v_prev) and pd.notna(v_next):
            df.at[idx, 'PulseRate'] = (v_prev + v_next) / 2
            methods_count[1] += 1
            filled = True
    # Phương pháp 2: Thay thế bằng TB 2 giá liền trước của người đó
    if not filled and pos >= 2:
        v1, v2 = df.at[p_indices[pos-1], 'PulseRate'], df.at[p_indices[pos-2], 'PulseRate']
        if pd.notna(v1) and pd.notna(v2):
            df.at[idx, 'PulseRate'] = (v1 + v2) / 2
            methods_count[2] += 1
            filled = True
    # Phương pháp 3: Thay thế bằng TB 2 giá liền sau của người đó
    if not filled and pos <= len(p_indices) - 3:
        v1, v2 = df.at[p_indices[pos+1], 'PulseRate'], df.at[p_indices[pos+2], 'PulseRate']
        if pd.notna(v1) and pd.notna(v2):
            df.at[idx, 'PulseRate'] = (v1 + v2) / 2
            methods_count[3] += 1
            filled = True
    # Phương pháp 4: Trung bình của các giá trị huyết áp của người đó
    if not filled:
        p_mean = df[df['person_id'] == row['person_id']]['PulseRate'].mean()
        if pd.notna(p_mean):
            df.at[idx, 'PulseRate'] = p_mean
            methods_count[4] += 1
            filled = True
    # Phương pháp 5: Trung bình của các giá trị huyết áp của nhóm giới tính
    if not filled:
        s_mean = df[df['Sex'] == row['Sex']]['PulseRate'].mean()
        if pd.notna(s_mean):
            df.at[idx, 'PulseRate'] = s_mean
            methods_count[5] += 1
            filled = True
    # Phương pháp 6: Trung bình của các giá trị dữ liệu / Mức ổn định (72)
    if not filled:
        g_mean = df['PulseRate'].mean()
        df.at[idx, 'PulseRate'] = g_mean if pd.notna(g_mean) else 72.0
        methods_count[6] += 1

# In kết quả chi tiết
print(f"Thay bằng TB liền trước và liền sau: {methods_count[1]} dòng")
print(f"Thay bằng TB 2 giá liền trước: {methods_count[2]} dòng")
print(f"Thay bằng TB 2 giá liền sau: {methods_count[3]} dòng")
print(f"B của các giá trị huyết áp của người đó: {methods_count[4]} dòng")
print(f"TB của các giá trị huyết áp của nhóm giới tính: {methods_count[5]} dòng")
print(f"TB của các giá trị dữ liệu mức ổn định: {methods_count[6]} dòng")

Tỉ lệ dữ liệu thiếu ban đầu: 0/71 (0.00%)

Thay bằng TB liền trước và liền sau: 0 dòng
Thay bằng TB 2 giá liền trước: 0 dòng
Thay bằng TB 2 giá liền sau: 0 dòng
B của các giá trị huyết áp của người đó: 0 dòng
TB của các giá trị huyết áp của nhóm giới tính: 0 dòng
TB của các giá trị dữ liệu mức ổn định: 0 dòng

In [132]:
df = df[['Id', 'Firstname', 'Lastname', 'Age', 'Weight', 'Sex', 'Time', 'PulseRate']]
df = df.sort_values(by=['Id', 'Time'])

#Reindex lại dữ liệu
df = df.reset_index(drop=True)

# Lưu trữ dữ liệu sạch
df.to_csv("patient_heart_rate_clean.csv", index=False)

print("lưu file thành công: patient_heart_rate_clean.csv")
df

lưu file thành công: patient_heart_rate_clean.csv

      Id Firstname Lastname   Age Weight Sex   Time  PulseRate
0    1.0     Micky     Mous  56.0  70kgs   m  00-06       72.0
1    1.0     Micky     Mous  56.0  70kgs   f  00-06       70.5
2    1.0     Micky     Mous  56.0  70kgs   m  06-12       69.0
3    1.0     Micky     Mous  56.0  70kgs   f  06-12       70.0
4    1.0     Micky     Mous  56.0  70kgs   m  12-18       71.0
..   ...       ...      ...   ...    ...  ..    ...        ...
66  15.0       NaN      NaN  52.0  81kgs   f  00-06       68.0
67  15.0       NaN      NaN  52.0  81kgs   m  06-12       71.5
68  15.0       NaN      NaN  52.0  81kgs   f  06-12       75.0
69  15.0       NaN      NaN  52.0  81kgs   m  12-18       73.5
70  15.0       NaN      NaN  52.0  81kgs   f  12-18       72.0

[71 rows x 8 columns]